{% extends "base.html" %} {% block left %}
<script src="../scripts/editEvent.js"></script>
{% if error %}
<div class="error">{{error}}</div>
{% endif %}
{% if success %}
<div class="success">{{success}}</div>
{% endif %}
    <form id="editEvent" action="/editevent" method="post">
        <h1 class="headingText" style="color:{{user.color}}"><a href="/u/{{event.owner}}">{{event.owner}}'s</a></h1>
        <div id={{event.id}} class="card event editTable">
            Click
            << to go back. <h1>
                <input id="editTitle" name="title" type="text" placeholder="{{event.title}}" />
                <input name="event" value="{{event.id}}" hidden />
                </h1>
                <table>
                    <tr>
                        <td>
                            Date
                        </td>
                        <td>
                            <h3 class="editDateHeading"><input id="editDate" name="time" type="date" value="" MAX="9999-12-31"/></h3>
                        </td>
                    </tr>
                    <tr class="dateHintRow">
                        <td>
                        </td>
                        <td class="tableHint">
                            Format: YYYY-MM-DD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type
                        </td>
                        <td>
                            <div class="radio">
                                <div class="option">
                                    <input name="type" id="typeD" type="radio" value="deadline" />
                                    <label for="typeD">Deadline</label>
                                </div>
                                <div class="option">
                                    <input name="type" id="typeA" type="radio" value="anniversary" />
                                    <label for="typeA">Anniversary</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="timeRow" class="animate-opacity">
                        <td>
                            Time
                        </td>
                        <td>
                            <input id="timeEntry" name="time" type="time" value="00:00"/>
                        </td>
                    </tr>
                    <tr class="timeRow" class="animate-opacity">
                        <td>
                        </td>
                        <td class="tableHint">
                            Format: HH:MM AM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Private
                        </td>
                        <td>
                            <div class="radio">
                                <div class="option">
                                    <input name="private" id="privateT" type="radio" value=true  />
                                    <label for="privateT">Yes</label>
                                </div>
                                <div class="option">
                                    <input name="private" id="privateF" type="radio" value=false />
                                    <label for="privateF">No</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="interactions">
                    <a class="action back" href="/e/{{event.id}}"role="button"><span class="buttonText"><<</span></a>
                    <a class="action deleteEvent" role="button"><span class="buttonText" style="color:red">Delete</span></a>
                    <input class="action saveEvent" type="submit" form="editEvent" value="Save"/>
                </div>
        </div>
    </form>
{% endblock %}
