{% block eventbody %}
        <h1>
            {{event.title}}
            <div class="countdown">
                {% if event.finished %}
                    <span class="countdownValue">
                        Passed
                    </span>
                {% else %}
                    <span class="timeValue" hidden>
                        {{event.time}}
                    </span>
                    <span class="countdownDisplay">
                    </span>
                {% endif %}
            </div>
        </h1>
        <div class="date">
            <h3>
                {{event.time.toLocaleDateString()}}{% if event.type == "deadline" %} {{event.time.toLocaleTimeString()}}{% endif %}
            </h3>
        </div>
        <div class="tags">
            <div class="tag">
                {{event.type}}
            </div>
            {% if event.finished %}
                <div class="tag">
                    Passed
                </div>
            {% endif %}
            {% if event.private %}
                <div class="tag">
                    Private
                </div>
            {% endif %}
            {% if new == event._id %}
                <div class="tag new">
                    new
                </div>
            {% endif %}
        </div>
    </a>
{% endblock %}
