{% extends "base.html" %} {% block body %}

<div id="container">

    <div id="left">
        <!-- <div id="addBar" class="card"> -->
        <input id="titleEntry" type="text" form="newEvent" name="title" placeholder="New Event" Class="topBar" required>
        <!-- </div> -->
        <div id="addTable" class="card">
            <form id="newEvent" action="/event" method="post">
                <table>
                    <tr>
                        <td>
                            Time
                        </td>
                        <td>
                            <input id="timeEntry" name="time" type="datetime-local" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type
                        </td>
                        <td>
                            <input name="type" id="typeD" type="radio" value="deadline" required/>
                            <label for="typeD"> Deadline </label>
                            <input name="type" id="typeA" type="radio" value="anniversary" />
                            <label for="typeA"> Anniversary </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Private
                        </td>
                        <td>
                            <input name="private" id="privateT" type="radio" value=true required/>
                            <label for="privateT"> Yes </label>
                            <input name="private" id="privateF" type="radio" value=false />
                            <label for="privateF"> No </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button id="addButton"><Strong>Add</Strong></button>

                            <button type="button" id="cancelAdd">Cancel</button>
                            <!-- <input type="submit" value="Add" /> -->
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="feeds">
            {% for event in events %}
            <div id={{event._id}} class="card event animate-opacity">
                <h1>{{event.title}}<div class="countdown">{{event.countdown}}</div></h1>
                <!-- {% if event.countdown %}
                <div class="countdown">
                    <h1>{{event.countdown}}</h1>
                </div>
                {% endif %} -->

                <div class="date">
                    <h3>{{event.time.getFullYear()}}-{{event.time.getMonth() + 1}}-{{event.time.getDate()}}</h3>
                </div>
                <div class="tags">
                    <div class="tag">
                        {{event.type}}
                    </div>
                    {% if new == event._id %}
                    <div class="tag new">
                        new
                    </div>
                    {% endif %}
                </div>

                <div class="interactions">
                    <a class="action doComment" role="button">
                        <span class="buttonText">
                            {{event.comments.length}} Comment{% if event.comments.length!=1 %}s{% endif%}
                        </span>
                    </a>
                    <a class="action doPlus1" role="button"><span class="buttonText">+ {{event.value}}</span></a>
                    <a class="action doFork" role="button"><span class="buttonText">Fork<span></a>
                </div>

            </div>
            {% endfor %}
            <div class="card">
                Oops, no more events! Fork others' or create your own!
            </div>
        </div>
    </div>

    <div id="right">
        <ul>
            <li>
                <a href="/" class="logo-button">
                    <img src="images/logo.svg" id="logo" />
                </a>
            </li>

            {% if session.username %}
            <li>
                <a href="#" class="">{{ session.username }}</a>
            </li>
            {%endif%}
            <li>
                <a href="#" class="">Search</a>
            </li>
            <li>
                <a href="#" class="">Settings</a>
            </li>
            {% if session.username %}
            <li>
                <a id="signout" class="" role="button" href="/logout">Sign out</a>
            </li>
            {%endif%}

        </ul>
    </div>
</div>
{% endblock %}
