{% extends "base.html" %}
{% block left %}

<script src="../scripts/index.js"></script>

<!-- <div id="addBar" class="card"> -->
<input id="titleEntry" type="text" form="newEvent" name="title" placeholder="New Event" Class="topBar" required>
<!-- </div> -->
<div id="addTable" class="card">
    <form id="newEvent" action="/event" method="post">
        <table>
            <tr>
                <td>
                    Time
                </td>
                <td>
                    <input id="dateEntry" name="time" type="date" default="YYYY-MM-DD" required/>
                </td>
            </tr>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    <div class="radio">
                        <input name="type" id="typeD" type="radio" value="deadline" required />
                        <label for="typeD">
                                Deadline
                            </label>
                        <input name="type" id="typeA" type="radio" value="anniversary" />
                        <label for="typeA">
                                Anniversary
                            </label>
                    </div>
                </td>
            </tr>
            <tr id="timeRow" class="animate-opacity">
                <td>
                    Time
                </td>
                <td>
                    <input id="timeEntry" name="time" type="time" value="00:00" required />
                </td>
            </tr>
            <tr>
                <td>
                    Private
                </td>
                <td>
                    <div class="radio">
                        <input name="private" id="privateT" type="radio" value=true required />
                        <label for="privateT">
                                Yes
                            </label>
                        <input name="private" id="privateF" type="radio" value=false />
                        <label for="privateF">
                                No
                            </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="addButton">
                            <Strong>Add</Strong>
                        </button>

                    <button type="button" id="cancelAdd">Cancel</button>
                    <!-- <input type="submit" value="Add" /> -->
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="feeds">
    {% for event in events %}
    <div id={{event._id}} class="card event {% if event.finished %}finished{% endif %} animate-opacity">
        <h3><a href="/u/{{event.owner}}">{{event.owner}}</a>'s</h3>
        <hr />
        {% include "eventContent.html" %}
        <div class="interactions">
            <a class="action doComment" role="button">
                <span class="buttonText commentButtonText">
                    {{event.comments.length}}Comment{% if event.comments.length != 1 %}s{% endif%}
                </span>
            </a>
            <a class="action doPlus1 {% if user.username in event.liked%}liked{% endif%}" role="button">
                <!-- <img class="likeIcon" src="{% if user.username in event.liked%}images/like.svg{% else %}images/liked.svg{% endif %}" /> -->
                <span class="buttonText plus1ButtonText">
                    {% if event.value < 999 %}{{event.value}}{% else%}999+{% endif %}
                </span>
            </a>
            <a class="action getEvent" role="button">
                <span class="buttonText">>><span>
            </a>
        </div>
            <div class="commentBar">
                <form class="commentEntry" action="/comment" method="post">
                    <input name="content" type="text" placeholder="Type here" required/>
                    <button class="sendButton" type="submit">Send</button>
                    <input name="event" value={{event.id}} hidden/>
                </form>
            </div>
        </div>
    {% endfor %}
    <div class="card">
        Oops, no more events! Follow more people or create your own!
    </div>
</div>
{% endblock %}
