<html>

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->
    <meta charset="utf-8">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <meta name="HandheldFriendly" content="true">
     <meta name="apple-mobile-web-app-title" content="哈哈">
     <meta http-equiv="Cache-Control" content="no-siteapp" />
     <link href="../images/favicon.svg" rel="apple-touch-icon-precomposed">
     <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="scripts/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <title>doo.</title>
</head>

<body>
    <div id="container">

        <h1 class=" animate-opacity"><img src="images/logo.svg" id="logo" /></h1>


        <form id="login" action="/login" method="post">
            {% if error %}
            <div id="error"><img src="images/warning.svg" class="hint animate-opacity"/>{{error}}</div>
            {% endif %}
            {% if success %}
            <div id="success"><img src="images/success.svg" class="hint animate-opacity"/>{{success}}</div>
            {% endif %}
            <!-- <div class="card"> -->
                <input id="username" name="username" type="email" placeholder="Email" class="animate-opacity"/>
            <!-- </div> -->
            <!-- <div class="card"> -->
                <input id="password" name="password" type="password" placeholder="Password" class="animate-opacity"/>

            <!-- </div> -->
            <div id="actionbar" class="actionBar  animate-opacity">
                <button id="loginButton" type="submit" class="login">Login</button>

                <button id="signUpButton" type="button" class="signup">Sign Up</button>
                <!-- <input class="loginButton" id="loginButton" type="submit" action="submit" value="login" /> -->
            </div>

        </form>

        <!-- <button id="signUpButton" type="button" class="signup">Sign Up</button> -->
        <!-- <div class="actionBar">
            <button id="loginButton" type="button" class="login">Login</button>
            <button id="signUpButton" type="button" class="signup" action="signup">Sign Up</a>
        </div> -->


    </div>


</body>

</html>
