{% extends "base.html" %} {% block left %}
<form id="search" action="/search" method="post">
    <input id="searchEntry" type="text" name="keyword" placeholder="Search by event title, username or email" class="topBar searchBar" required>
</form>

<div id="feeds">
    {% for event in events %}
    <div id={{event._id}} class="card event animate-opacity">
        <h3><a href="/u/{{event.owner}}">{{event.owner}}</a>'s</h3>
        <a class="eventBody" href="/e/{{event._id}}">
        {% include "eventContent.html" %}
        <div class="interactions">
            <a class="action doComment" role="button">
                <span class="buttonText commentButtonText">
                        {{event.comments.length}} Comment{% if event.comments.length!=1 %}s{% endif%}
                    </span>
            </a>
            <a class="action doPlus1 {% if user.username in event.liked%}liked{% endif%}" role="button">

                <span class="buttonText plus1ButtonText">
                         {% if event.value < 999 %}{{event.value}}{% else%}999+{% endif %}
                     </span>
            </a>
            <a class="action getEvent" role="button"><span class="buttonText">>><span></a>
        </div>
        <div class="commentBar">
            <form class="commentEntry" action="/comment" method="post">
                <input name="content" type="text" placeholder="Type here" required/>
                <button class="sendButton" type="submit">Send</button>
                <input name="event" value={{event.id}} hidden/>
            </form>
        </div>
    </div>
    {% endfor %}
    {% for user in users %}
    <div id={{user.username}} class="card user animate-opacity">
        <h1>{{user.username}}</h1>
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <div>
            <a class="action follow" role="button"><span class="followButtonText">Follow<span></a>
            <!-- <button id="followButton" type="button">Follow</button> -->
        </div>
    </div>
    {% endfor %}
</div>

<!-- <% blockend %> -->
{% endblock %}
