{% extends "base.html" %} {% block left %}

<script src="../scripts/setting.js"></script>

<img src-"image/logo.svg" id="logo-setting" />

{% if error %}
<div class="error">{{error}}</div>
{% endif %}
{% if success %}
<div class="success">{{success}}</div>
{% endif %}
<div id="feeds">
    <div id="settingTable" class="card">
        <h3 id="setting-title">Edit Your Profile<h3>
        <hr />
        <form id="editProfileForm" action="profile" method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input id="name" name="name" type="text" placeholder="{{ user.name }}"></td>
                </tr>

                <tr>
                    <td>Birthday</td>
                    <td>
                        <input id="birthday" name="birthday" type="date" placeholder="{{ user.birthday }}" min="1926-01-01">
                    </td>
                </tr>

                <tr>
                    <td>Gender</td>
                    <td>
                        <div class="radio">
                            <div class="option">
                                <input name="gender" id="genderM" type="radio" value="male" />
                                <label for="genderM"> Male </label>
                            </div>
                            <div class="option">
                                <input name="gender" id="genderF" type="radio" value="female" />
                                <label for="genderF"> Female </label>
                            </div>
                            <div class="option">
                                <input name="gender" id="genderO" type="radio" value="private" />
                                <label for="genderO"> I prefer not to say. </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Theme color
                    </td>
                    <td><script src="scripts/jscolor.js"></script>
                        <input id="color" name="color" class="jscolor" value="{{user.color}}" />
                    </td>
                </tr>
                <!-- <tr>
                    <td>Email</td>
                    <td>
                        <input id="email" name="email" type="email" placeholder="{{ user.email }}"/>
                    </td>
                </tr> -->

                <tr>
                    <td>
                    </td>
                    <td>
                        <button id="editProfile"><strong>Save Changes</strong></button>
                    </td>
                </tr>

            </table>
        </form>
    </div>
    <div class="card">
        <h3>Error?</h3>
        <hr />
        <a href="https://github.com/CSC309-Fall-2016/group15/issues/new">Report an issue</a>
    </div>
    <div class="card">
        <h3>Credits</h3>
        <hr />
        <p>
            Doo is a web app proudly produced by Joey, <a href="http://individual.utoronto.ca/zwx">Ian</a>, Bill and <a href="http://individual.utoronto.ca/ajax">Ajax</a>.
        </p>
        <p>
            Group 15 of CSC309 Fall 2016
        </p>
    </div>
</div>
{% endblock %}
