{% extends "base.html" %} {% block left %}

<script src="scripts/signup.js"></script>
<a href="/" class="logo-button-signup">
    <img src="images/logo.svg" id="logo-signup" />
</a>
{% if error %}
<div id="hint"><img src="images/warning.svg" id="warning" />{{error}}</div>
{% endif %}
<div id="signUpTable" class="card">
    <h3 id="signup-title">Sign up</h3>
    <hr />
    <form id="newUser" action="signup" method="post">
        <table>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input id="username" name="username" type="text" maxlength="20" pattern="[a-zA-Z][a-zA-Z0-9]+" required/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="tableHint">
                    Should start with a character, and only contain characters and numbers (0-9 A-Z a-z). Space and symbols are not allowed.
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input id="password" name="password" type="password" required/>
                </td>
            </tr>
            <tr>
                <td>
                    Retype Password
                </td>
                <td>
                    <input id="rePassword" name="rePassword" type="password" required/>
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input id="name" name="name" type="text" required/>
                </td>
            </tr>

            <tr>
                <td>
                    Birthday
                </td>
                <td>
                    <input id="birthday" name="birthday" type="date" placeholder="YYYY-MM-DD" min="1926-01-01" required/>
                </td>
            </tr>

            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    <div class="radio">
                            <div class="option">
                                <input name="gender" id="genderM" type="radio" value="male" />
                                <label for="genderM"> Male </label>
                            </div>
                            <div class="option">
                                <input name="gender" id="genderF" type="radio" value="female" />
                                <label for="genderF"> Female </label>
                            </div>
                            <div class="option">
                                <input name="gender" id="genderO" type="radio" value="private" />
                                <label for="genderO"> I prefer not to say. </label>
                            </div>
                        </div>
                </td>

            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input id="email" name="email" type="email" required/>
                </td>
            </tr>
            <tr>
                <td>
                    Theme color
                </td>
                <td><script src="scripts/jscolor.js"></script>
                    <input id="color" name="color" class="jscolor" value="ffffff"required/>
                </td>
            </tr>
            <!-- <tr>
                        <td>
                        </td>
                        <td>
                            <input id="notification" name="notification" type="checkbox" default=false/>
                            <label for="notification"> I would like to receive email notifications.</label>
                        </td>
                    </tr> -->

            <tr>
                <td>
                </td>
                <td>
                    <button id="signUp"><strong>Sign Up</strong></button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
