{% extends "base.html" %} {% block left %}
<script src="../scripts/countdown.js"></script>

<!-- <div id="eventContainer"> -->
<script>
$('body').css("background-color", "{{targetUser.color}}");
</script>
<h1 class="headingText" style="color:{{user.color}}">{{targetUser.username}}</h1>
<h3 class="headingText" style="color:{{user.color}}">Profile</h3>
<div id={{targetUser.username}} class="card user">
    {% if targetUser.adminPrivilege %}
        <div class="tag" style="float:right">
            Admin
        </div>
    {% endif %}
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{targetUser.name}}
            </td>
        </tr>

        <tr>
            <td>
                Birthday
            </td>
            <td>
                {{targetUser.birthday}}
            </td>
        </tr>

        <tr>
            <td>
                Gender
            </td>
            <td>
                {{targetUser.gender}}
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                {{targetUser.email}}
            </td>
        </tr>
    </table>
    <div class="interactions">
        <a class="action showEvents" role="button"><span class="buttonText showEventsText">{{targetUser.events.length}} Event{% if targetUser.events.length != 1 %}s{% endif %}</span></a>
        <a class="action showFollowers" role="button"><span class="buttonText">{{targetUser.followedBy.length}} Follower{% if targetUser.followedBy.length != 1 %}s{% endif %}</span></a>
            {% if user %}
                {% if user.username != targetUser.username %}
                    {% if user.adminPrivilege %}
                        <a class="action deleteUser" role="button"><span class="buttonText" style="color:red">Delete</span></a>
                    {% else %}
                        {% if targetUser.username in user.following %}
                        <a class="action unfollow" role="button"><span class="buttonText">Unfollow</span></a>
                        <a class="action follow" role="button" style="display:none"><span class="buttonText">Follow</span></a>
                        {% else %}
                        <a class="action unfollow" role="button" style="display:none"><span class="buttonText">Unfollow</span></a>
                        <a class="action follow" role="button"><span class="buttonText">Follow</span></a>
                        {% endif %}
                    <!-- <button id="followButton" type="button">Follow</button> -->
                    {% endif %}
                {% else %}
                    <a class="action none" role="button"><span class="buttonText"></span></a>
                {% endif %}
            {% else %}
                <a class="action none" role="button"><span class="buttonText"></span></a>
            {% endif %}
    </div>
</div>

<div id="feeds">
    <div class="events">
        <h3 class="headingText" style="color:{{user.color}}">Events</h3> {% for event in events %}
        <div id={{event._id}} class="card event {{event.type}} {% if event.finished %}finished{% endif %} animate-opacity">
            <a class="eventBody" href="/e/{{event._id}}">
            {% include "eventContent.html" %}
            <div class="interactions">
                <a class="action doComment" role="button">
                    <span class="buttonText commentButtonText">
                            {{event.comments.length}}
                            Comment{% if event.comments.length != 1 %}s{% endif%}
                            </span>
                </a>
                <a class="action doPlus1 {% if user.username in event.liked%}liked{% endif%}" role="button">
                    <!-- <img class="likeIcon" src="{% if user.username in event.liked%}images/like.svg{% else %}images/liked.svg{% endif %}" /> -->
                    <span class="buttonText plus1ButtonText">
                                {% if event.value < 999 %}{{event.value}}{% else%}999+{% endif %}
                            </span>

                </a>
                <a class="action getEvent" role="button">
                    <span class="buttonText">
                        >>
                    </span>
                </a>
            </div>
            <div class="commentBar">
                <form class="commentEntry" action="/comment" method="post">
                    <input name="content" type="text" placeholder="Type here" required/>
                    <button class="sendButton" type="submit">Send</button>
                    <input name="event" value={{event.id}} hidden/>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="followers">
        <h3 class="headingText" style="color:{{user.color}}">Followers</h3>
        {% for follower in targetUser.followedBy %}
        <a href="/u/{{follower}}"><div id="{{follower}}" class="card animate-opacity">{{follower}}</div></a>
        {% endfor %}
    </div>
</div>

{% endblock %}
