{% extends "base.html" %} {% block left %}
<script src="../scripts/countdown.js"></script>

<div id="feeds">
    <h1 class="headingText" style="color:{{user.color}}">
        <a href="/u/{{event.owner}}">{{event.owner}}'s</a>
    </h1>
    <div id={{event.id}} class="card event {{event.type}}">
        {% if event.owner == user.username %}
        <a class="editButton" href="/edit/{{event._id}}">
        Click on event to edit.
        {% elif user.adminPriviledge %}
        <a class="editButton" href="/edit/{{event._id}}">
        Click on event to edit.
        {% else %}
        <a class="eventBody" href="/e/{{event._id}}">
        {% endif %}
        {% include "eventContent.html" %}
        <div class="interactions">
            <a class="action doComment" role="button">
                <span class="buttonText commentButtonText">
                        {{event.comments.length}} Comment{% if event.comments.length!=1 %}s{% endif%}
                    </span>
            </a>
            <a class="action doPlus1 {% if user.username in event.liked%}liked{% endif%}" role="button">
                <!-- <img class="likeIcon" src="{% if user.username in event.liked%}images/like.svg{% else %}images/liked.svg{% endif %}" /> -->
                <span class="buttonText plus1ButtonText">
                         {% if event.value < 999 %}{{event.value}}{% else%}999+{% endif %}
                     </span>
            </a>
            {% if user.adminPrivilege %}
            <a class="action deleteEvent" role="button"><span class="buttonText" style="color:red">Delete</span></a> {% elif (user.username == event.owner) %}
            <a class="action deleteEvent" role="button"><span class="buttonText" style="color:red">Delete</span></a> {% else %}
            <a class="action none" role="button"><span class="buttonText"></span></a> {% endif %}
        </div>
        {% if user.username %}
        <div class="singleCommentBar">
            <form class="commentEntry" action="/comment" method="post">
                <input name="content" type="text" placeholder="New Comment" required/>
                <button class="sendButton" type="submit">Send</button>
                <input name="event" value={{event.id}} hidden/>
            </form>
        </div>
        {% endif %}
        <div id="comments">
            {% for comment in commentList %}
            <div id={{comment.id}} class="comment animate-opacity">
                <span class="commentOwner"><strong><a href="/u/{{comment.owner}}">{{comment.owner}}</a>: </strong></span>{{comment.content}}
                <span class="timestamp">
                    {{comment.timestamp.getFullYear()}}-{{comment.timestamp.getMonth() + 1}}-{{comment.timestamp.getDate()}} {{comment.timestamp.getHours()}}:{{comment.timestamp.getMinutes()}}
                </span> {% if event.owner == user.username %}
                <a class="deleteComment" role="button"><span class="buttonText">Delete</span></a>
                <!-- <button class="deleteComment">Delete</button> -->
                {% elif comment.owner == user.username %}
                <a class="deleteComment" role="button"><span class="buttonText">Delete</span></a>
                <!-- <button class="deleteComment">Delete</button> -->
                {% endif %}
            </div>
            {% endfor %}
            <div id="commentPlaceholder" class="comment placeholder animate-opacity">
                Oops, no more comments. Do say something about this event!
            </div>
        </div>
    </div>
</div>
{% endblock %}
