{% extends "base.html" %} {% block left %}

<!-- <div id="eventContainer"> -->
<div id={{targetUser.id}} class="card user">
    <h1>{{targetUser.username}}</h1>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{targetUser.name}}
            </td>
        </tr>

        <tr>
            <td>
                Birthday
            </td>
            <td>
                {{targetUser.birthday}}
            </td>
        </tr>

        </tr>
        <tr>
            <td>
                Gender
            </td>
            <td>
                {{targetUser.gender}}
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                {{targetUser.email}}
            </td>
        </tr>
    </table>
</div>
<!-- </div> -->
<div>
    <button id="followButton" type="button">Follow</button>
</div>

{% endblock %}
