@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

#container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#logo {
    height: 48px;
    /*float: left;*/
    margin-bottom: 10px;
}

.animate-opacity {
    -webkit-animation: opac 3s;
    animation: opac 3s
}

@-webkit-keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    background-color: white;
    /*overflow-x: auto;*/
}
.icon {
    margin-top: 10px;
    margin-bottom: auto;
    width:20px;
}

.hint {
    width: 12px;
    margin-right: 10px;
    display: inline-block;
}

input[type=text] {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    background-color: white;
    /*overflow-x: auto;*/
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: white;
    background-size: 2.5%;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 30px;
    background-image: url("../images/username.svg");
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

input[type=text]:focus {
    outline: none;
    /*border-bottom: 2px solid #ccc;
    width: 100%;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input[type=password] {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    background-color: white;
    /*overflow-x: auto;*/
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    font-size: 16px;
    background-color: white;
    background-size: 2.5%;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 30px;
    background-image: url("../images/password.svg");
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

input[type=password]:focus {
    outline: none;
    /*border-bottom: 2px solid #ccc;
    width: 100%;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

.actionBar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 0px;
}

button {
    cursor:pointer;
}

button:visited {
    outline: none;
}

#error {
    /*display: none;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color:#F44336;
    background-color: #FFCDD2;
    border: 1px;
    border-style: solid;
    border-color: #F44336;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 10px;
}

#success {
    /*display: none;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color:#4CAF50;
    background-color: #B3E5FC;
    border: 1px;
    border-style: solid;
    border-color: #4CAF50;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 10px;
}

.signup {
    background-color: #FFFFFF;
    color:#ccc;
    font-size: 16px;
    float: right;
    padding: 10px;
    border:none;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    margin-left: 15px;
    background-color: white;
    overflow-x: auto;
}

.signup:hover {
    color:#ddd;
}

.signup:active {
    color:#eee;
    outline: none;
}

.login {
    color:#bbb;
    font-size: 16px;
    float: right;
    padding: 10px;
    border:none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    margin-left: 15px;
    background-color: white;
    overflow-x: auto;
}
.login:hover {
    background-color: #eeeeee;
    color:#ccc;
}
.login:active {
    color:#FFFFFF;
    outline: none;
}
