@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: #B0BEC5;
}
/* To test the layout of divisions */
/*div {
    border-style: solid;
    border-width: thin;
}*/

#feeds {
    /*height: 90%;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li {
    float: right;
        width: 100%;
}

li a {
    font-style:oblique;
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    font-style:normal;
}

#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#logo {
    height: 16px;
    float: right;
    margin-bottom: 10px;
}

#left {
    width: 80%;
    /*margin-left: 15%;*/
    float: left;
}
#right {
    margin-left: 40%;
    width: 20%;
    float: right;
    position: fixed;
}

.logo-button {
    height: 24px;
}

.card {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    background-color: white;
    overflow-x:auto;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
