@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    transition: all 0.4s;
}

body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    font-weight: 300;
    /*padding: 0 10 0 10;*/
}

a:visited {
    color: inherit;
}

a:first-child span {
    border:none;
}

.hide {
    display: none;
}

hr {
    border-color: #efefef;
    background-color: #efefef;
    color: #efefef;
    border: 0;
    height: 1px;
}


/* To test the layout of divisions */


/*div {
    border-style: solid;
    border-width: thin;
}*/

#feeds {
    /*height: 90%;*/
    align-content: center;
    transition: all 0.4s;
    margin-bottom: 40%
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /*height: 100%;*/
    position: fixed;
    overflow: auto;
}

li {
    pointer-events: none;
    float: right;
    width: 100%;
}

li a {
    pointer-events: all;
    display:inline-block;
    color: black;
    float: right;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
}

#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40%;
    margin-top: 10%;
}

#logo {
    height: 16px;
    float: right;
    margin-bottom: 10px;
}

#logo-signup {
    height: 48px;
    /*float: left;*/
    margin-bottom: 10px;
}

#signup-title {
    padding: 8px 16px;
}

#left {
    width: 600px;
    /*margin-left: 15%;*/
    float: left;
}

#right {
    display: inline-block;
    margin-left: 0;
    /*width: 20%;*/
    float: right;
    position: fixed;
    /*pointer-events: none;*/
}

.logo-button {
    height: 24px;
}

.logo-button-signup {
    width: 150px;
}

.card {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    background-color: white;
    overflow-x: none;
    overflow-y: none;
    transition: all 0.4s;
}

.user {
    padding: 20 20 0 20;
}

#addTable {
    overflow: auto;
    overflow-y: hidden;
    padding: 0 20;
    height: 0;
    width: 560px;
    float: left;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

table {
    font-size: 16px;
    color: #666666;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 0px;
    padding: 8px 16px;
}

th {
    background-color: #333;
    color: white;
}

#timeRow {
    display: none;
    overflow: none;
    height: 0;
}


/*
tr:hover {
    background-color: #f5f5f5
}*/

input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
    /*width: 100%;*/
}

input[type=email] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=email]:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
    /*width: 100%;*/
}

input[type=date] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=date]:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
    /*width: 100%;*/
}

 /*input[type="date"]:before {
    content:"YYYY-MM-DD"
 }*/

input[type=time] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=time]:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
    /*width: 100%;*/
}

input[type=password] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=password]:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
    /*width: 100%;*/
}

input[name=content] {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 4px;
    /*overflow-x: auto;*/
    width: 484px;
    font-size: 16px;
    padding: 10px;
}

input[name=content]:focus {
    outline: none;
    background-color: #efefef;
    border: 1px solid #ccc;
}

input[name=content]:hover {
    background-color: #F5F5F5;
}

#editTitle {
    display: block;
    font-size: 1em;
}

#editTime {
    display: block;
    font-size: 1em;
}

#color {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 4px;
    /*overflow-x: auto;*/
    width: 80px;
    font-size: 16px;
    padding: 10px;
}

#color:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
}

.topBar {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    /*overflow-x: auto;*/
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: white;
    background-size: 2.5%;
    background-position: 10px 19px;
    background-repeat: no-repeat;
    background-image: url("../images/add.svg");
    padding: 20px 20px 20px 40px;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.topBar:focus {
    outline: none;
    /*border-bottom: 2px solid #ccc;
    width: 100%;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.searchBar {
    background-image: url("../images/search.svg");
    background-position: 10px 21px;
}

.event {
    padding-bottom: 0px;
    /*height: 260px;*/
}

.editTable {
    display: block;
    padding-bottom: 0px;

}

.interactions {
    width: 100%;
    margin-top: 10px;
    height: 39px;
    display: flex;
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
    border-top: 1px solid #efefef;
    bottom: 0;
}

.buttonText {
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 7px 0px 7px 0px;
    /*padding: 5px 0;*/
    border-left: 1px solid #efefef;
}

.deleteButtonText {
    margin:0;
}
input[type=submit] {
    border: none;
    background: none;
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 7px 0px 7px 0px;
    /*padding: 5px 0;*/
    border-left: 1px solid #efefef;
}

input[type=submit]:hover {
    padding: 0 0 0 10;
}

.followButtonText {
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 7px 0px 7px 0px;
}


.commentButtonText {
    border-left: none;
}

.showEventsText {
    border-left: none;
}
.commentBar {
    height: 0px;
    width: 100%;
    overflow-y: hidden;
    /*margin-top: 10px;*/
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
    /*transition: all 0.4s;*/
    border-top: 1px solid #FFFFFF;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

.comment {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    /*height: 22px;*/
    line-height: 22px;
    height: auto;

    padding: 12px 0px;
    border-top: 1px solid #efefef;
}

.commentContent {
    text-overflow: ellipsis;;
    color: #000000;
    width: 50%;
    display: inline-flex;
}

.timestamp {
    color: #ccc;
    font-size: 9px;
    float: right;
}

.deleteComment {
    float: right;
    /*line-height: 22px;*/
    padding-right: 10;
    font-size: 9px;
    background: none;
    padding: none;
    margin: none;
    cursor: pointer;
}

.deleteComment span{
    border:none;
}


.action {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    color: #666;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin: 0 0 0 0px;
    padding: 1px 0;
    width: 34%;
    cursor: pointer;
    /*border-right: 1px solid #ccc;*/
}

.plus1ButtonText {
    padding: 0 0 0 35;
}



.action:hover {
    /*background-color: #F5F5F5;*/
    /*padding: 0 0 0 10;*/
}

/*.follow{
    margin-left: 400px;
    background-color: #F5F5F5;
    border-radius: 10px;
}*/



.buttonText:hover {
    padding: 0 0 0 10;
}

.doPlus1 {
    /*background-repeat: no-repeat;*/
    background-image: url("../images/like.svg");
    /*padding: 20px 20px 20px 40px;*/
    background-size: 14px;
    background-position: 40%;
    background-repeat: no-repeat;
}
.doPlus1:hover {
    background-position: 50%;
}

.liked {
    /*background-repeat: no-repeat;*/
    background-image: url("../images/liked.svg");
    /*padding: 20px 20px 20px 40px;*/
    background-size: 14px;
    background-position: 40%;
    background-repeat: no-repeat;
}

.liked:hover {
    background-position: 50%;
}

.plus1ButtonText:hover {
    padding: 0 0 0 45;
}

/*.doFork {
    border-right: none;
}*/

#warning {
    width: 12px;
    margin-right: 10px;
    display: inline-block;
}

#hint {
    /*display: none;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #F44336;
    background-color: #FFCDD2;
    border: 1px solid #F44336;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 10px;
}

button {
    background-color: #ddd;
    color: #aaa;
    font-size: 16px;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    margin-left: 15px;
    background-color: white;
    overflow-x: auto;
}

button:hover {
    color: #ddd;
}

button:active {
    color: #eee;
    outline: none;
}

.sendButton {
    margin-top: 10px;
    margin-left: 20px;
    /*margin-right: auto;*/
}

.animate-opacity {
    -webkit-animation: opac 3s;
    animation: opac 3s
}

@-webkit-keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.countdownDisplay {
    float: right;
    font-weight: 100;
}

.countdownValue {
    float: right;
    font-weight: 100;
}

.tags {
    display: block;
}

.tag {
    display: inline-block;
    /*float: left;*/
    width: auto;
    color: #FFFFFF;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px 6px;
}

.new {
    background-color: #F44336;
}

.placeholder {
    color: #ccc;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 12px 0px;
}

.singleCommentBar {
    height: 60px;
}

.commentOwner {
    color: #aaa;
}

.icon {
    width: 12px;
    margin-right: 10px;
    display: inline-block;
}

.error {
    /*display: none;*/
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: #F44336;
    background-image: url('../images/warning.svg');
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 10px;
    background-color: #FFCDD2;
    border: 1px;
    border-style: solid;
    border-color: #F44336;
    padding: 10 10 10 30;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 10px;
}

.success {
    /*display: none;*/
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: #4CAF50;
    background-image: url('../images/success.svg');
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 10px;
    background-color: #B3E5FC;
    border: 1px;
    border-style: solid;
    border-color: #4CAF50;
    padding: 10 10 10 30;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 10px;
}

input[type=radio] {
    /*display: none;*/
    position: absolute;
    visibility: hidden;
}

input[type=radio]:not(:checked)~label:after {
    color: #666666;
    background-color: #FFFFFF;
}

input[type=radio]:checked~label {
    color: #FFFFFF;
    background-color: #666666;
}

.radio {
    padding:5px 3px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #666666;
}

.option {
    display: inline-block;
}

input[type=radio]~label {
    border-radius: 2px;
    padding: 2px 8px;

}

.userColor {
    display: inline-block;
    padding: 12px 12px;
    margin-right: 15px;
    border-radius: 3px;
}

.searchUserTitle {
    margin-top: 0px;
}

/*input[type=radio]:checked~label::before {
    color: #666666;
    background-color: #FFFFFF;
}*/

#resHandler {
    /*display: none;*/
    pointer-events: none;
    width: 558px;
    position: fixed;
}

.eventBody {
    cursor: pointer;
}

.finished {
    color: #ccc;
}

.followers {
    display: none;
}
/*.likeIcon {
    height:12px;
}*/


.mobileUl {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.mobileLi {
    /*display: inline;*/
    float: left;
    width: auto;
}
.mobileLi .mobileA {
    display: auto;
    /*color: white;*/
    /*text-align: center;*/
    padding: 0;
    text-decoration: none;
}

.mobileButton {
    margin: 0 2%;
    width: 15%;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/* Wide */
@media screen and (max-width: 1680px) {
    #container {
        width:50%;
    }
}

/* Normal */
@media screen and (max-width: 1280px) {
    #container {
        width:50%;
    }
}

/* Tablet */
@media screen and (max-width: 780px) {
    /*#right {
        display: none;
    }*/
    .mobileUl {
        display: inherit;
    }
    #addTable {
        width:94.2%;
    }

    #container {
        width: 90%;
    }
    .eventTitle {
        margin: 0 0 -10px 0px;
    }
    .countdown{
        top:0;
        width: 100%;
        display: block;
        float:none;
    }
    .countdownDisplay {
        margin: 10 0px;
        display: block;
        float: none;
        font-size: 16px;
    }
    .action {
        width: 32.5%
    }
    input[name=content] {
        width: 76%
    }
    #left {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 736px) {
    /*#right {
        display: none;
    }*/
    .mobileUl {
        display: inherit;
    }
    #addTable {
        width:89%;
    }

    #container {
        width: 95%;
    }
    .countdown{
        top:0;
        width: 100%;
        display: block;
        float:left;
    }
    .action {
        width: 32.5%
    }
    input[name=content] {
        width: 76%
    }
    #left {
        width: 100%;
    }
}

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
    #addTable {
        width:90%;
    }
}

@media screen and (max-width: 400px) {
    #addTable {
        width:89%;
    }
}

@media screen and (max-width: 321px) {
    #addTable {
        width:87%;
        overflow-y: scroll;
    }
}
