@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.hide {
    display: none;
}

hr {
    border-color: #efefef;
    background-color: #efefef;
    color: #efefef;
    border: 0;
    height: 1px;
}


/* To test the layout of divisions */


/*div {
    border-style: solid;
    border-width: thin;
}*/

#feeds {
    /*height: 90%;*/
    margin-bottom: 10%;
    transition: all 0.4s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li {
    float: right;
    width: 100%;
}

li a {
    font-style: bold;
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    font-style: regular;
}

#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#logo {
    height: 16px;
    float: right;
    margin-bottom: 10px;
}

#logo-signup {
    height: 48px;
    /*float: left;*/
    margin-bottom: 10px;
}

#signup-title {
    padding: 8px 16px;
}

#left {
    width: 600px;
    /*margin-left: 15%;*/
    float: left;
}

#right {
    margin-left: 40%;
    width: 20%;
    float: right;
    position: fixed;
}

.logo-button {
    height: 24px;
}

.logo-button-signup {
    width: 150px;
}

.card {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    background-color: white;
    overflow-x: none;
    overflow-y: none;
}

#addTable {
    overflow: auto;
    overflow-y: hidden;
    padding: 0 20;
    height: 0;
    width: 560px;
    float: left;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

table {
    font-size: 16px;
    color: #666666;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 0px;
    padding: 8px 16px;
}

th {
    background-color: #333;
    color: white;
}


/*
tr:hover {
    background-color: #f5f5f5
}*/

input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
    /*width: 100%;*/
}

input[type=email] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=email]:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
    /*width: 100%;*/
}

input[type=datetime-local] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=datetime-local]:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
    /*width: 100%;*/
}

input[type=date] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=date]:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
    /*width: 100%;*/
}

input[type=time] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=time]:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
    /*width: 100%;*/
}

input[type=password] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    background-color: none;
    background-repeat: no-repeat;
    padding: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
    /*width: 100%;*/
}

input[name=content] {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 4px;
    /*overflow-x: auto;*/
    width: 450px;
    font-size: 16px;
    padding: 10px;
}

input[name=content]:focus {
    outline: none;
    background-color: #efefef;
    border: 1px solid #ccc;
}

input[name=content]:hover {
    background-color: #F5F5F5;
    ;
}

.topBar {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    /*overflow-x: auto;*/
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: white;
    background-size: 2.5%;
    background-position: 10px 19px;
    background-repeat: no-repeat;
    background-image: url("../images/add.svg");
    padding: 20px 20px 20px 40px;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.topBar:focus {
    outline: none;
    /*border-bottom: 2px solid #ccc;
    width: 100%;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.event {
    padding-bottom: 0px;
}

.interactions {
    width: 100%;
    margin-top: 10px;
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
    border-top: 1px solid #efefef;
}

.buttonText {
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 7px 0px 7px 0px;
    /*padding: 5px 0;*/
    border-left: 1px solid #ccc;
}

.commentButtonText {
    border-left: none;
}

.commentBar {
    height: 0px;
    width: 100%;
    overflow-y: hidden;
    /*margin-top: 10px;*/
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
    /*transition: all 0.4s;*/
    border-top: 1px solid #FFFFFF;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

.comment {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 12px 0px;
    border-top: 1px solid #efefef;
}



.timestamp {
    color: #ccc;
    font-size: 9px;
    float: right;
}

.action {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    color: #666;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin: 0 0 0 0px;
    padding: 1px 0;
    width: 184px;
    cursor: pointer;
    /*border-right: 1px solid #ccc;*/
}

.plus1ButtonText {
    padding: 0 0 0 35;
}
.action:hover {
    background-color: #F5F5F5;
}

.doPlus1 {
    /*background-repeat: no-repeat;*/
    background-image: url("../images/like.svg");
    /*padding: 20px 20px 20px 40px;*/
    background-size: 14px;
    background-position: 72;
    background-repeat: no-repeat;
}

.liked {
    /*background-repeat: no-repeat;*/
    background-image: url("../images/liked.svg");
    /*padding: 20px 20px 20px 40px;*/
    background-size: 14px;
    background-position: 72;
    background-repeat: no-repeat;
}
/*.doFork {
    border-right: none;
}*/

#warning {
    width: 12px;
    margin-right: 10px;
    display: inline-block;
}

#hint {
    /*display: none;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #F44336;
    background-color: #FFCDD2;
    border: 1px;
    border-style: solid;
    border-color: #F44336;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 10px;
}

button {
    background-color: #ddd;
    color: #aaa;
    font-size: 16px;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 4px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;*/
    margin-left: 15px;
    background-color: white;
    overflow-x: auto;
}

button:hover {
    color: #ddd;
}

button:active {
    color: #eee;
    outline: none;
}

.sendButton {
    margin-top: 10px;
    margin-left: 20px;
    /*margin-right: auto;*/
}

.animate-opacity {
    -webkit-animation: opac 3s;
    animation: opac 3s
}

@-webkit-keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.countdown {
    float: right;
}

.tags {
    display: block;
}

.tag {
    display: inline-block;
    /*float: left;*/
    width: auto;
    color: #FFFFFF;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px 6px;
}

.new {
    background-color: #F44336;
}

.placeholder {
    color: #ccc;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 12px 0px;
}

.singleCommentBar {
    height: 60px;
}

.deleteComment {
    line-height: 22px;
    font-size: 9px;
    background: none;
    padding: none;
    margin: none;
}

.commentOwner {
    color: #aaa;
}


/*.likeIcon {
    height:12px;
}*/
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
